<div class="page-container">
  <div class="content">
    <div class="inner">
      <a href="https://www.instagram.com/<%= @page.instagram_login %>" target="_blank">Подписаться</a>
      <form action="/pages/{{url}}/check_login" method="POST">
        <p>Подпишитесь на мой инстаграм и ссылка для скачивания материала станет доступна</p>
      </form>
      <button onclick="check('<%= @page.url %>')">Я подписан</button>
    </div>
  </div>
  <div class="background" style="background: url('<%= url_for(@page.background) %>')">

  </div>
</div>
<%= csrf_meta_tags %>
<%= javascript_pack_tag 'pages' %>