
<div class="page-container">
  <div class="content-container">
    <h3><%= I18n.t 'page.enter_username' %></h3>
    <p><%= I18n.t 'page.find_place' %></p>

    <div class="pre-input">
      <span class="addon">@</span>
      <input id="username" type="text" placeholder="<%= I18n.t 'page.your_username' %>">
    </div>
    <button
      onclick="getAccess(document.getElementById('username').value, '<%= @page.url %>')"
      class="btn-primary w-100"
      id="check-btn"
    ><%= I18n.t 'page.get_access' %>
    </button>

    <button
      class="btn-primary w-100 hidden disabled"
      id="checking-btn"
    >
      <div class="loader"></div>
      <span><%= I18n.t 'page.checking' %></span>
    </button>


  </div>
  <div class="insta-image">
    <div class="insta-frame-users" style="background: url(<%=asset_pack_path('media/images/insta-screen-users.svg') %>)"></div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <div><%= image_pack_tag('media/images/exclamation-circle.svg') %></div>
      <div style="margin-left: 16px; flex-grow: 1;">
        <p class="modal-title"><%= I18n.t 'page.account_not_found' %></p>
        <p><%= I18n.t 'page.we_did_not_find' %> @<span id="modal-nickname"></span> <%= I18n.t 'page.did_not_find' %></p>
        <div class="actions-block">
          <button class="btn-small btn-default cancel"><%= I18n.t 'page.cancel' %></button>
          <button onclick="goToInsta('<%= @page.instagram_login %>', '<%= @page.url %>')" class="btn-small btn-primary"><%= I18n.t 'page.subscribe_and_access' %></button>
        </div>
      </div>
    </div>
  </div>

  <div id="validateModal" class="modal">
    <div class="modal-content">
      <div><%= image_pack_tag('media/images/exclamation-circle.svg') %></div>
      <div style="margin-left: 16px; flex-grow: 1;">
        <p class="modal-title"><%= I18n.t 'page.not_valid_nickname' %></p>
        <p><%= I18n.t 'page.not_valid_nickname_desc'  %></p>
        <div class="actions-block">
          <button class="btn-small btn-primary cancelValidateModal">OK</button>
        </div>
      </div>
    </div>
  </div>


</div>


<%#= javascript_pack_tag 'pages' %>
<!--<div class="page-container">-->
<!--  <div class="content">-->
<!--    <div class="inner">-->
<!--      <form action="/pages/<%#= @page.url %>/check" method="get">-->
<!--        <h1>Введите ваш логин Instagram, чтобы открыть доступ</h1>-->
<!--        <p><input type="text" id="name" name="name" placeholder="my_login"></p>-->
<!--        <button onclick="save()"><%#= @page.welcome_button_text %></button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="background" style="background: url('<%#= url_for(@page.background) %>')">-->

<!--  </div>-->
<!--</div>-->



<%= csrf_meta_tags %>
<%= javascript_pack_tag 'pages' %>
<%= javascript_pack_tag 'enter_login_page' %>
<%= javascript_pack_tag 'modals' %>

<script type="text/javascript" charset="utf-8">
  checkAccess('<%= @page.url %>')
</script>

<% if @page.facebook_pixel_id.present? %>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '<%= @page.facebook_pixel_id %>');
    fbq('track', 'visit enter login page');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=<%= @page.facebook_pixel_id %>&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>