<div class="page-container success-page" id="success-page">
<!--<div class="page-container success-page hidden" id="success-page">-->
  <div
    class="fanfare mobile"
    style="background: center url(<%=asset_pack_path('media/images/success.svg') %>); transform: scaleX(-1);"
  ></div>
  <img class="fanfare-horizontal" style="transform: scaleX(-1);" src="<%=asset_pack_path('media/images/success-horizontal.svg') %>" alt="">
<!--  <img class="fanfare" src="<%#=asset_pack_path('media/images/success.svg') %>" alt="">-->
<!--  <img class="fanfare" src="<%#=image_pack_tag 'media/images/success.svg' %>" alt="">-->
  <img class="fanfare" <%= image_pack_tag 'media/images/success.svg' %>

  <div class="content-container">
    <div><%= image_pack_tag('media/images/check-circle.svg') %></div>
<!--    <div class="icon-success"></div>-->
    <h1><%= @page.success_title %></h1>
    <p><%= @page.success_description %></p>
    <button onclick="getBonus()" class="btn-primary"><%= @page.success_button_text %></button>
  </div>
  <div
    class="fanfare mobile"
    style="background: center url(<%=asset_pack_path('media/images/success.svg') %>);"
  ></div>
  <img class="fanfare" style="transform: scaleY(-1);" src="<%=asset_pack_path('media/images/success.svg') %>" alt="">
  <img class="fanfare-horizontal" src="<%=asset_pack_path('media/images/success-horizontal.svg') %>" alt="">
</div>

<%= javascript_pack_tag 'success_page' %>
<script type="text/javascript" charset="utf-8">
  updateGuestStatus('success')
</script>