<div class="page-container success-page hidden" id="success-page">
  <div
    class="fanfare mobile"
    style="background: center url(<%=image_url('success.svg') %>); transform: scaleX(-1);"
  ></div>
  <img class="fanfare-horizontal" style="transform: scaleX(-1);" src="<%=image_url('success-horizontal.svg') %>" alt="">
  <img class="fanfare" src="<%=image_url('success.svg') %>" alt="">

  <div class="content-container">
    <div><%=image_tag('check-circle.svg') %></div>
<!--    <div class="icon-success"></div>-->
    <h1><%= @page.success_title %></h1>
    <p><%= @page.success_description %></p>
    <button onclick="getBonus()" class="btn-primary"><%= @page.success_button_text %></button>
  </div>
  <div
    class="fanfare mobile"
    style="background: center url(<%=image_url('success.svg') %>);"
  ></div>
  <img class="fanfare" style="transform: scaleY(-1);" src="<%=image_url('success.svg') %>" alt="">
  <img class="fanfare-horizontal" src="<%=image_url('success-horizontal.svg') %>" alt="">
</div>

<%= javascript_pack_tag 'success_page' %>
<script type="text/javascript" charset="utf-8">
  updateGuestStatus('success')
</script>