<div class="success-left" style="background-image: url(<%=asset_pack_path('media/images/success-left.svg') %>)"></div>
<div class="success-top" style="background-image: url(<%=asset_pack_path('media/images/success-top.svg') %>)"></div>
<div class="success-mobile-top" style="background-image: url(<%=asset_pack_path('media/images/success-mobile-top.svg') %>)"></div>

<div class="page-container success-page" id="success-page">
<!--<div class="page-container success-page hidden" id="success-page">-->
<!--  <div-->
<!--    class="fanfare mobile"-->
<!--    style="background: center url(<%#=asset_pack_path('media/images/success.svg') %>); transform: scaleX(-1);"-->
<!--  ></div>-->
<!--  <img class="fanfare-horizontal" style="transform: scaleX(-1);" src="<%#=asset_pack_path('media/images/success-horizontal.svg') %>" alt="">-->
<!--  <img class="fanfare" <%#= image_pack_tag 'media/images/success.svg' %>-->

  <div class="content-container">
    <div><%= image_pack_tag('media/images/check-circle.svg') %></div>
<!--    <div class="icon-success"></div>-->
    <h1><%= @page.success_title %></h1>
    <p><%= @page.success_description %></p>
    <button onclick="getBonus()" class="btn-primary"><%= @page.success_button_text %></button>
  </div>
<!--  <div-->
<!--    class="fanfare mobile"-->
<!--    style="background: center url(<%#=asset_pack_path('media/images/success.svg') %>);"-->
<!--  ></div>-->
<!--  <img class="fanfare" style="transform: scaleY(-1);" src="<%#=asset_pack_path('media/images/success.svg') %>" alt="">-->
<!--  <img class="fanfare-horizontal" src="<%#=asset_pack_path('media/images/success-horizontal.svg') %>" alt="">-->
</div>
<div class="success-right" style="background-image: url(<%=asset_pack_path('media/images/success-right.svg') %>)"></div>
<div class="success-bottom" style="background-image: url(<%=asset_pack_path('media/images/success-bottom.svg') %>)"></div>
<div class="success-mobile-bottom" style="background-image: url(<%=asset_pack_path('media/images/success-mobile-bottom.svg') %>)"></div>

<%= javascript_pack_tag 'success_page' %>
<script type="text/javascript" charset="utf-8">
  updateGuestStatus('success')
</script>
<% if @page.facebook_pixel_id.present? %>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '<%= @page.facebook_pixel_id %>');
    fbq('track', 'visit success page');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=<%= @page.facebook_pixel_id %>&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>

<% content_for :head do %>
  <%= @page.domain.meta_tag.html_safe if @page.domain.present? %>
<% end %>
