<%# @welcome_content.sub! "{{csrf_token}}", @form_authenticity_token %>
<%#= @welcome_content.html_safe %>
<%#= csrf_meta_tags %>
<!--<div class="red">-->
<!--  red-->
<!--  <button onclick="click()" id="action-buttonn">action-button</button>-->
<!--</div>-->
<div class="page-container">
  <div class="content">
    <div class="inner">
      <form action="/pages/<%= @page.url %>/enter_login">
        <h1><%= @page.welcome_title %></h1>
        <p><%= @page.welcome_description %></p>
        <button type="submit"><%= @page.welcome_button_text %></button>
      </form>

    </div>
  </div>
<!--  <div class="background" style="background: '<%#= request.base_url + url_for(@page.background) %>'">-->
  <div class="background" style="background: url('<%= url_for(@page.background) %>')">

  </div>
</div>

<!--<h1></h1>-->
<!--<form action="/pages/{{url}}" method="POST">-->
<!--  <input type="text" hidden id="csrf_token" name="csrf_token" value="{{csrf_token}}">-->
<!--  <div class="input-control">-->
<!--    <label for="name">-->
<!--      <input type="text" id="name" name="name">-->
<!--      никнейм-->
<!--    </label>-->
<!--  </div>-->
<!--  <button type="submit" id="action-button">click</button>-->
<!--</form>-->




<%= javascript_pack_tag 'pages' %>